body {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	color: #F5EFEF;
	margin: 0;
	padding: 0;
	background-color: #060606;
}
header {
	background-color: #141415;
	color: #F2E9E9;
	text-align: center;
	padding: 20px 0;
}

h1 {
	font-size: 2.5em;
	margin-bottom: 10px;
}

h2{
	font-size: 1.5em;
	margin-bottom: 20px;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: #060606;

}

h3 {
	font-size: 2.1em;
	margin-bottom: 10px;
}

video {
	display: block;
	margin: 0 auto;
	border: 1px solid #9F67D6;
	padding: 10px;
}

p{
	line-height: 2.0;
	margin-bottom: 15px;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	margin-bottom: 10px;
}

a{
	color: #E21818;
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}

nav{
	margin-bottom: 20px;
}

nav ul{
	padding: 0;
}

nav li{
	display: inline-block;
	margin-right: 20px;
}

img{
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
	border: 0px solid #ccc;
	padding: 10px;
}

h4{
font-size: 2.1em;
	margin-bottom: 20px;
}